* {
    margin: 0;
}

body {
    background-color: black;
}

.container {
    position: absolute;
    width: 550px;
    height: 550px;
    left: 66px;
    top: 64px;
    background: #1F2937;
}

h1 {
    position: absolute;
    width: 354px;
    height: 80px;
    left: 52px;
    top: 115px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.025em;
    color: #FFFFFF;

}

span {
    color:#4ADF86;
    ;
}

p{
    position: absolute;
    width: 372px;
    height: 28px;
    left: 52px;
    top: 205px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #D5D4D8;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    gap: 12px;
    position: absolute;
    width: 191px;
    height: 42px;
    left: 52px;
    top: 284px;
    background: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: none;
}

hr {
    position: absolute;
    width: 446px;
    height: 0px;
    left: 52px;
    top: 361px;
    border: 1px solid #2F3E53;
}

#psswd-1 {
    position: absolute;
    width: 211px;
    height: 39px;
    left: 52px;
    top: 396px;
    background: #273549;
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #55F991;
}

#psswd-2 {
    position: absolute;
    width: 211px;
    height: 39px;
    left: 287px;
    top: 396px;
    background: #273549;
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #55F991;

}
